<zxing-scanner [torch]="torchEnabled" [device]="deviceCurrent" (deviceChange)="onDeviceChange($event)"
  (scanSuccess)="onCodeResult($event)" [formats]="formatsEnabled" [tryHarder]="tryHarder"
  (permissionResponse)="onHasPermission($event)" (camerasFound)="onCamerasFound($event)"
  (torchCompatible)="onTorchCompatible($event)">
</zxing-scanner>
<button
  (click)="onDeviceSelectChange('ed7c2c1e47a9f8f2a9cd33a98f3cc1648c59cb9e94e7d470c0410e4bfe2dd29b')">Change</button>

<router-outlet></router-outlet>
